.create-form {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  background-color: #222222;
  padding-top: 30px;
  padding-bottom: 60px;
  margin-top: 90px;
  margin-bottom: 90px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}

input {
  width: 60%;
  margin-top: 30px;
  font-size: 17px;
  height: 40px;
  padding-left: 20px;
}

.fileMessage {
  margin-top: 30px;
  font-size: 18px;
  color: rgb(142, 203, 52);
}

textarea {
  width: 60%;
  padding-top: 10px;
  margin-top: 30px;
  font-size: 17px;
  height: 40px;
  padding-left: 20px;
  height: 130px;
  font-family: Arial, Helvetica, sans-serif !important;
}

button {
  width: 30%;
  margin: 30px 30px 0px 30px;
  background-color: #ee573d;
  border: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 17px;
}

button:hover {
  background-color: #ed725d;
  cursor: pointer;
}

p {
  font-size: 14px;
  font-weight: bold;
  color: red;
}

[type="file"] {
  height: 0;
  overflow: hidden;
}

[type="file"] + label {
  background: #f15d22;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-size: inherit;
  font-weight: 500;
  outline: none;
  padding: 1rem 50px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
  margin-top: -25px;
  transition-timing-function: ease-in-out;
  transition-duration: 3s;
}

[type="file"] + label:hover {
  position: relative;
  top: -3px;
  box-shadow: -6px 14px 12px 2px rgba(132, 132, 132, 0.12);
}

.Uploading {
  display: flex;
  align-items: center;
  margin: -10px;
}

.Uploading span {
  padding-right: 10px;
}

@media only screen and (max-width: 800px) {
  .create-form {
    width: 450px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
