.loading {
  font-size: 40px; /* Default style */
  --duration: 2s; /* Default style */
}
.loading .circle {
  position: absolute;
  left: 0.15em;
  top: 0.15em;
  right: 0.15em;
  bottom: 0.15em;
  border-radius: 0.5em;
  border: 0.1em solid white;
  border-color: white transparent transparent transparent;
  animation: rotate var(--duration) linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  /*  Box style only  */
  width: 1em;
  aspect-ratio: 1;
  border-radius: 0.2em;
  position: relative;
}
/* Box style only */
.loading::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border-radius: 0.2em;
}
